{% extends 'base.html' %}

{% block content %}
<h2>Чат {{ chat.uuid }}</h2>

<div>
    {% for message in messages %}
    <p><strong>{{ message.sender.user.username }}:</strong> {{ message.text }} <em>{{ message.timestamp }}</em></p>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

{% if chat.status != 'closed' %}
    <a href="{% url 'close_chat' chat.uuid %}">Закрыть чат</a>
{% endif %}

<a href="{% url 'staff_chat_list' %}">Вернуться к списку чатов</a>

{% endblock %}
